.example {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f37;
  max-width: 960px;
  padding: 16px;
}

.example code {
  font-family: monospace;
  font-size: 16px;
  font-weight: 700;
  background-color: #ff6b0a;
  color: #fff;
  padding: 2px 6px;
  border-radius: 2px;
}

.example .background {
  height: 240px;
  // ❗️❗️❗️ The path to images from a SASS file
  // is always the same as from the css folder.
  background-image: url('../images/logo.png');
  background-size: cover;
  background-position: center;
}

// .is-hidden{
//   display: none;
// }

.example{
  display: none;
}

.search-form {
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;

  text-align: center;
  background-color: #6495ED;
}

input{
  border: 1px solid #808080;
  border-radius: 4px;
}

.btn{
  border: 1px solid #808080;
  border-radius: 4px;
  cursor: pointer;
}

img {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-card{
  width: 300px;
  margin-right: 15px;
}

.info{
  display: flex;
  border: 1px solid #eeeeee;
  margin-bottom: 15px;
}

.info-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.load-more{
      display: flex;
  margin: auto;
  border: 1px solid #808080;
  border-radius: 4px;
  cursor: pointer;
}

.is-hidden {
  display: none;
}